<div class="card m-1" style="max-width: 28rem;">
  <div class="card-header text-dark bg-info h6" id="invitation_header">
    <p class="card-text" id="invitation_call">Psst!</p>
  </div>

  <div class="card-body">
    <form action="/secret/place" method="POST" class="row row-cols-lg-auto g-2 align-items-center">
        <div class="col-12">
          <p class="card-text" id="invitation_text">Would you like to visit a <a href="/secret/place">/secret/place</a>?</p>
        </div>

        <div class="col-12 ms-3">
          <button type='submit' class="btn btn-outline-info" id="invite_button">Of course!</button>
        </div>
    </form>
  </div>
</div>