<div class="alert alert-warning alert-dismissible fade show w-25 m-1" role="alert">
  <strong>Logged out!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>