<div class="card m-1" style="max-width: 36rem;">
  <div class="card-header text-dark bg-success h6">
    Success!
  </div>

  <div class="card-body">
    <p class="card-text">This is a secret place that only [<%=session[:identity]%>] has access to!</p>
  </div>
</div>
